.home-wrapper {
   width: 100%;
   min-height: 100%;
   height: 100%;
   background: url('../../assets/background-black-to-white.png');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   position: relative;
   display: block;

   ///NAVBAR START
   .navbar {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      top: 0;
      left: 0;

      .navbar_inner {
         width: 1248px;
         padding: 24px 0;
         display: flex;
         justify-content: space-between;
         align-items: center;

         .logo {
            width: 100px;
            height: 100px;

            img {
               width: 100%;
               height: 100%;
            }
         }

         nav {
            display: flex;
            align-items: center;

            .language_popup {
               position: relative;

               img {
                  width: 20px;
                  height: 15px;
                  margin-right: 5px;
               }

               .active_language_wrapper {
                  display: flex;
                  align-items: center;
                  padding: 6px 12px;
                  border: 1px solid var(--white);
                  border-radius: 6px;
                  cursor: pointer;
                  user-select: none;
                  font-family: var(--font);
                  font-weight: var(--regular);
                  color: var(--white);
                  font-size: 12px;
               }

               ul {
                  opacity: 0;
                  pointer-events: none;
                  position: absolute;
                  top: 100%;
                  left: 0;
                  width: 100%;
                  padding: 10px;
                  background: var(--white);
                  border-radius: 6px;
                  transition: all 100ms ease-in;

                  li {
                     display: flex;
                     align-items: center;
                     user-select: none;
                     margin-bottom: 8px;
                     cursor: pointer;
                     font-family: var(--font);
                     font-weight: var(--semiBold);
                     color: var(--black);
                     font-size: 14px;
                     transition: all 100ms ease-in;

                     &:hover {
                        background: var(--black);
                        color: var(--white);
                     }

                     &:last-child {
                        margin-bottom: 0;
                     }
                  }
               }

               &:hover {
                  ul {
                     opacity: 1;
                     pointer-events: all;
                  }
               }
            }
         }
      }
   }

   ///NAVBAR END


   ///START QUIZ WRAPPER START
   .start_quiz_wrapper {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, 0);
      width: 500px;
      border: 5px solid var(--black);
      padding: 24px;
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
         &:nth-child(1) {
            position: absolute;
            bottom: 100%;
            left: -20%;
            width: 124px;
            height: 124px;
         }

         &:nth-child(2) {
            position: absolute;
            bottom: 100%;
            right: -22%;
            width: 100px;
            height: 100px;
         }
      }

      h2 {
         font-size: 28px;
         font-family: var(--font);
         font-weight: var(--bold);
         color: var(--black);
         margin-bottom: 24px;
      }

      button {
         padding: 12px 24px;
         background: var(--black);
         border: 0;
         color: var(--white);
         font-family: var(--font);
         font-weight: var(--semiBold);
         font-size: 20px;
         cursor: pointer;
         transition: all 100ms ease-out;

         &:hover {
            transform: skewX(-20deg) scale(0.95);
         }

         &:active {
            transform: skewX(-20deg) scale(0.90);
         }
      }
   }

   ///START QUIZ WRAPPER END
}